body {
	color: #958378; /* most letters in body*/
	background: #232323;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #8a92a7; /* divide if needed*/
}

header {
	border-collapse: collapse;
	border-spacing: 0.2;
	border: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
